body {
	padding-top: 50px;
	font-size: 2em;
	line-height: 1.5;
}

a {
	color: #A31621;
}

a:hover {
	color: #2B303A;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    font-size: 1.5em;
}

tr {
	border-bottom: 2px solid rgba(43,43,43,0.1);
}

th, td {
    padding: 5px;
    margin: 5px;
}

.tag {
	background-color: #A31621;
	font-size: medium;
	max-width: 200px;
	max-height: 50px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-overflow: ellipsis !important;
	text-align: center;
	color: #FFFFF2;
	float: left;
}

.tag:hover {
	background-color: #2B303A;
}

.tag a {
	color: #FFFFF2;
	text-decoration: none;
}

.tag-all {
	background-color: #2B303A !important;
	border-radius: 5px;
}

.tag-active {
	background-color: #610B38 !important;
}

.heart {
	color: #A31621;
}

.lastchanged {
	margin-top: 1.5vh;
}

.editlink {
	color: #80aaaa;
}

.badge {
	background-color: whitesmoke;
	color: black;
}

.taglist {
	padding: 1em;
	font-size: 1.2em;
}